/* daviwke 1:02 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Turret+Road:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root { 
    --main-color: #83430f;
    --second-color: #000000;
}

section { 
    padding: 50px 10%; 
}
img { 
    width: 100%; 
}

/* navbari */
header {
  background-color: rgba(0, 0, 0, 0.541);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.logo a {
  text-decoration: underline ;
  color: white;
  transition: 0.3s;
}
.logo a:hover{
    letter-spacing: 2px;
    color: var(--main-color);
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition:  0.3s;
}
.nav-links a:hover {
  color: var(--main-color);
  letter-spacing:2px;
}

/* home */
.home { 
    width: 100%; 
    min-height: 90vh; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    gap: 1rem;
}

.home-text { 
    flex: 1 1 17rem; 
}
.home-text span { 
    font-size: 1rem; 
    font-weight: 600; 
    text-transform: uppercase; 
    color: var(--main-color); 
}
.home-text h1 { 
    font-size: 4rem; 
    color: var(--second-color); 
}
.home-text p { 
    margin: 0.5rem 0 1.4rem; 
}
.home-img { 
    flex: 1 1 17rem; 
}

.btn { 
    padding: 10px 20px; 
    border: 2px solid var(--main-color); 
    border-radius: 40px; 
    color: var(--main-color); 
    font-weight: 500; 
    transition: .3s; 
}
.btn:hover { 
    letter-spacing: 2px; 
    color: #FFF; 
    background: var(--main-color); 
}

/* abouti */

.about { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column; 
    background-color: black;
    background-size: cover; 
}

.about h1 { 
    font-size: 2.5rem; 
    color: #FFF; 
    margin-bottom: 2rem; 
    text-transform: uppercase;
}

.about-container {
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    border-top: 6px solid var(--main-color);
    padding: 20px;
    gap: 2rem;
}
.box-img { 
    width: 200px; 
    height: 200px; 
}
.box-img img { 
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    object-position: center; 
}
.about-box { 
    flex: 1 1 8rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    transition: 0.3s;
}
.about-box:hover{
    transition: 0.3s ;
    transform: translateY(-10px);
}
.about-box h2 { 
    font-size: 1.2rem; 
    color: var(--main-color); 
    letter-spacing: 1px; 
}
.about-box h3 {
    font-size: 1rem;
    color: var(--second-color); 
    font-weight: 500; 
    margin: 0 0 0.5rem; 
}
.menu-btn{
    padding: 10px 20px;  
    border-radius: 40px; 
    background-color: #83430f;
    color: white;
    font-weight: 500; 
    transition: .3s; 
}
.menu-btn:hover{
    letter-spacing: 3px;
    font-weight: bolder; 
    font-size: 22px;
    text-transform: uppercase;
}

/* reviewebi */

.customer-container .box {
    margin: 20px;
    flex: 1 1 16rem;
    text-align: center;
    box-shadow: 0 4px 4px rgba(27, 27, 27, 0.15);
    padding: 20px;
    border-radius: .5rem;
}

.box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--second-color);
}

.box .bx {
    color: var(--main-color); 
    margin-top: 0.5rem; 
}
.box p { 
    margin: 0.5rem 0 1rem; 
}
.box h2 { 
    font-size: 1.2rem; 
    color: var(--main-color); 
    letter-spacing: 1px; 
}

/* contacti */

.contact-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem; 
    margin-top: 2rem; 
}
.contact-info { 
    flex: 1 1 20rem; 
}
.contact-info h2 { 
    font-size: 1.7rem; 
    color: var(--second-color); 
}
.contact-info p {
    margin: 0.5rem 0 1rem; 
    text-align: justify; 
}
.contact-form { 
    flex: 1 1 20rem; 
    display: flex; 
    justify-content: center; 
}
.contact-form form { 
    display: flex; 
    flex-direction: column; 
    width: 100%; 

}
form .email{
margin-top: 10px;
border-radius: 10px ;
border: none;
text-decoration: underline;
height: 30px;
}
form .name{
margin-top: 10px;
border-radius: 10px ;
border: none;
text-decoration: underline;
height: 30px;
}
form textarea { 
    height: 150px; 
    resize: none; 
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 10px;
}
.email::placeholder{
    color: var(--second-color);
    font-weight: bolder;
}
.name::placeholder{
    color: var(--second-color);
    font-weight: bolder;
}
textarea::placeholder{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 20px;
}


form .btn {
    max-width: 150px;
    background: var(--main-color);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: .3s;
    margin: auto;
    cursor: pointer;
}
 form .btn:hover {
    background: var(--second-color); 
}
.address { 
    display: flex; 
    flex-direction: column; 
}
.address i { 
    display: flex; 
    align-items: center; 
    margin-bottom: 0.5rem; 
    font-size: 20px; 
}
.address span { 
    font-size: 1rem; 
    margin-left: 1rem; 
}
.social { 
    margin-top: 1rem; 
}
.social a { 
    font-size: 24px; 
    color: var(--main-color); 
    margin-right: 1rem; 
    transition: .3s; 
}
.social a:hover { 
    color: var(--second-color); 
}
/* footeri */


footer{
  background-color: white;
  color: white;
}
.footer_section {
  background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.836)), url("../menu/images/food-seamless-pattern-sketch_650511-1803.jpg");
  color: #ffffff;
  text-align: center;
}
.footer_section p {
  color: rgb(255, 255, 255);
}
.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}
.stat2-div{
  color: white;
}


/* responsivi */

@media (max-width: 1100px) {
    .home-text h1 {
     font-size: 3rem;
    }
}

@media (max-width: 991px) {
    section { 
        padding: 50px 4%; 
    }
    .home{
        margin-top: 40px;
    }
    .home-text h1 { 
        font-size: 2.4rem; 
    }
    .home-text p { 
        font-size: .9rem; 
    }
    .about h1 {
        font-size: 2rem; 
        }
    .heading h2 { 
        font-size: 1.6rem; 
    }
    .contact-info h2 { 
        font-size: 1.6rem; 
    }
        
}

@media (max-width: 500px) {
    header nav{
        display: grid;
        height: 80px;
        justify-content: center;
        align-items: center;
    }
    .logo{
        display: grid;
        justify-content: center;
    }
    .home {
        text-align: center;
    }
    .home-img , .home-text {
        flex: 1 1 100%; 
    }
    .customer-container .box { 
        flex: 1 1 100%;
    }
    .about-container { 
        display: flex; 
    }
    .about-box { 
        text-align: center; 
    }
    .contact-container { 
        flex-direction: column; 
    }
    .contact-info {
        flex: 1 1 100%;
    }
    

}


/* patara detalebi */

#special{
    color: black;
    transition: 0.3s;
}
#special:hover{
    color: var(--main-color);
    letter-spacing: 2px;
}


/* meore dgis 2:30 game ar gamitenebia prosta meore dges gavakete */