/* daviwke 1:02 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Turret+Road:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root { 
    --main-color: #83430f;
    --second-color: #000000;
}
body{
    background-color: black;
}
section { 
    padding: 50px 10%; 
}
img { 
    width: 100%; 
}

/* navbari */
header {
  background-color: rgba(0, 0, 0, 0.575);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.233);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.logo a {
  text-decoration: underline ;
  color: white;
  transition: 0.3s;
}
.logo a:hover{
    letter-spacing: 2px;
    color: var(--main-color);
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition:  0.3s;
}
.nav-links a:hover {
  color: var(--main-color);
  letter-spacing:2px;
}

/* home */
.home { 
    width: 100%; 
    min-height: 90vh; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    gap: 1rem;
    background-color: black;
    color: white;
}

.home-text { 
    flex: 1 1 17rem; 
}
.home-text span { 
    font-size: 1rem; 
    font-weight: 600; 
    text-transform: uppercase; ; 
}
.home-text h1 { 
    font-size: 4rem; 
    color: white; 
}
.home-text p { 
    margin: 0.5rem 0 1.4rem; 
}
.home-img { 
    flex: 1 1 17rem; 
}
.btn { 
    margin-top: 10px;
    padding: 10px 20px; 
    border: 2px solid var(--main-color); 

    color: var(--main-color); 
    font-weight: 500; 
    transition: .3s; 
}

/* contacti */
.contact{
    background-color: white;
}
.contact-container {
    background-color: white;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem; 
    margin-top: 2rem; 
}
.contact-info { 
    flex: 1 1 20rem; 
}
.contact-info h2 { 
    font-size: 3rem; 
    color: var(--main-color);
    text-decoration: uppercase; 
}
.contact-info p {
    margin: 0.5rem 0 1rem; 
    text-align: justify; 
}
.contact-form { 
    flex: 1 1 20rem; 
    display: flex; 
    justify-content: center; 
}
.contact-form form { 
    display: flex; 
    flex-direction: column; 
    width: 100%;
}
form .email{
margin-top: 10px;
border-radius: 10px ;
border: none;
text-decoration: underline;
height: 30px;
}
form .name{
margin-top: 10px;
border-radius: 10px ;
border: none;
text-decoration: underline;
height: 30px;
}
form textarea { 
    height: 150px; 
    resize: none; 
    border-radius: 10px;
    border: 3px solid var(--main-color);
    margin-top: 10px;
}
.email::placeholder{
    color: var(--second-color);
    font-weight: bolder;
}
.name::placeholder{
    color: var(--second-color);
    font-weight: bolder;
}
textarea::placeholder{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 20px;
}
form .btn {
    max-width: 150px;
    background: var(--main-color);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: .3s;
    margin: auto;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
 form .btn:hover {
    background: var(--second-color); 
}
.address { 
    display: flex; 
    flex-direction: column; 
}
.address i { 
    display: flex; 
    align-items: center; 
    margin-bottom: 0.5rem; 
    font-size: 20px; 
}
.address span { 
    font-size: 1rem; 
    margin-left: 1rem; 
}
.social { 
    margin-top: 1rem; 
}
.social a { 
    font-size: 24px; 
    color: var(--main-color); 
    margin-right: 1rem; 
    transition: .3s; 
}
.social a:hover { 
    color: var(--second-color); 
}
.copyright { 
    text-align: center; 
    padding: 20px; 
}
.copyright span { 
    font-family: 'Turret Road', sans-serif; 
    font-weight: 600; 
}

/* footeri */


footer{
  background-color: white;
  color: white;
  width: 100%;
}
.footer_section {
  color: #000000;
  text-align: center;
}
.footer_section p {
  color: rgb(0, 0, 0);
}
.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}
.stat2-div{
  color: rgb(0, 0, 0);
}

@media (max-width: 1100px) {
    .home-text h1 {
     font-size: 3rem;
    }
}

@media (max-width: 991px) {
    section { 
        padding: 50px 4%; 
    }
    .home{
        margin-top: 40px;
    }
    .home-text h1 { 
        font-size: 2.4rem; 
    }
    .home-text p { 
        font-size: .9rem; 
    }    
}

@media (max-width: 500px) {
    header nav{
        display: grid;
        height: 80px;
        justify-content: center;
        align-items: center;
    }
    .logo{
        display: grid;
        justify-content: center;
    }
    .home {
        text-align: center;
    }
    .home-img , .home-text {
        flex: 1 1 100%; 
    }
    .contact-container { 
        flex-direction: column; 
    }
    

}

/* patara detalebi */

#special{
    color: black;
    transition: 0.3s;
}
#special:hover{
    color: var(--main-color);
    letter-spacing: 2px;
}


/* meore dgis 2:30 game ar gamitenebia prosta meore dges gavakete */